@use "../abstracts/var";
@use "../abstracts/mixins" as mix;

.blog-card{
  border: .4rem solid var.$secondary;
  border-radius: .8rem;
  @include mix.flex(column-reverse, space-between);
  @include mix.for-size( 900 ){
    flex-direction: row;
  }

  &__details{
    text-align: center;
    gap: 1.6rem;
    @include mix.clamped(padding, 18, 50);
    @include mix.flex(column);
  }
  &__title{
    @include mix.font("Montserrat", 30, 32, 900);
  }
  &__summary{
    @include mix.font("Open Sans", 20, $font-weight:400);
  }
  &__meta-info{
  }
  &__date{
    @include mix.font("Open Sans", 16, $font-weight:400);
  }
  &__time-to-read{
    @include mix.font("Open Sans", 16, $font-weight:400);
  }
  &__feature-img{
    @include mix.for-size(900){
      @include mix.clamped(width, 284, 429);
    }
  }
}
