@use "../abstracts/var";
@use "../abstracts/mixins" as mix;

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: var.$secondary;
  background-color: var.$primary;
  line-height: 1.5;
  word-wrap: break-word;
  @include mix.font("Open Sans", 16, 20, 400);

  [hidden] {
    display: none !important;
  }
  a {
    background-color: transparent;
    text-decoration: none;
  }
  em{
    font-size: inherit;
  }
  b,
  strong {
    font-size: inherit;
    font-weight: 600;
  }
  img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1.25;
  }
  h2 {
    font-weight: 600;
    padding-bottom: .3em;
    @include mix.clamped(margin-top, 32, 64);
    font-size: 1.5em;
  }
  p {
    margin-top: 0;
    margin-bottom: 16px;
  }
  .markdown-body::before {
    display: table;
    content: "";
  }
  .markdown-body::after {
    display: table;
    clear: both;
    content: "";
  }
  .markdown-body>*:first-child {
    margin-top: 0 !important;
  }
  .markdown-body>*:last-child {
    margin-bottom: 0 !important;
  }
}

