@use "../abstracts/mixins" as mix;
@use "../abstracts/var";

.testimonial-card{
  position: relative;
  min-width: 24.8rem;
  max-width: 30.3rem;
  padding-bottom: 6.8rem;
  background-color: var.$secondary-lighter;
  border-radius: .8rem;
  box-shadow: -2px 4px 30px var.$secondary;
  @include mix.clamped(padding-left, 0, 31);
  @include mix.clamped(padding-right, 0, 31);

  &:last-child{
    @include mix.for-size(686){
    }
  }
  .img-wrapper{
    @include mix.flex($justify-content: center);
  }
  &__img{
    position: absolute;
    width: 10rem;
    height: 10rem;
    margin: auto;
    border-radius: 5rem;
    transform: translateY(-50%);
  }

  &__name{
    padding-top: 6.8rem;
    margin-bottom: 1.2rem;
    @include mix.font("Montserrat", 20, $font-weight: 900);
  }

  &__testimony{
    @include mix.font("Open sans", 14, $font-weight: 400);
  }
}
