@use '../abstracts/var';
@use '../abstracts/mixins' as mix;

.layout--default{

  .services-wrapper{
  }
  .services{
    @include mix.clamped(padding-left, 50, 190);
    @include mix.clamped(padding-right, 50, 190);
    @include mix.clamped(padding-top, 85, 200);
    @include mix.clamped(padding-bottom, 85, 200);

    &__heading{
      color: var.$secondary;
      text-align: center;
      @include mix.clamped(margin-bottom, 43, 64);
      @include mix.font("Montserrat", 30, 40, 900);
    }

    &__main{
      display: flex;
      flex-wrap: wrap;
      gap: 4.3rem;

      & > *{
        flex: 1 1 31%;
      }
    }

  }
}


.layout--default{
  .testimonials-wrapper{

  }
  .testimonials{
    color: var.$primary;
    text-align: center;
    @include mix.clamped(padding-left, 38, 122);
    @include mix.clamped(padding-right, 38, 122);

    &__banner{
      background-color: var.$secondary;
      padding-left: 1.8rem;
      padding-right: 1.8rem;
      border-radius: .8rem;
      @include mix.clamped(padding-top, 86, 100);
      @include mix.clamped(padding-bottom, 86, 100);
    }

    &__heading{
      margin-bottom: 2.1rem;
      @include mix.font("Montserrat", 30, 40, 900);
    }

    &__subheading{
      max-width: 60.7rem;
      margin: auto;
      @include mix.font("Open sans", 16, $font-weight: 400);
      @include mix.clamped(margin-bottom, 82, 128);
    }

    &__main{
      max-width: 101.6rem;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2.9rem;

      & > *{
        flex: 1 1 31%;
      }
    }

  }
}


.layout--default{
  .contact-wrapper{

  }
  .contact{
    padding-left: 3.8rem;
    padding-right: 3.8rem;
    @include mix.clamped(padding-top, 86, 200);
    // @include mix.clamped(padding-right, 38, 264);
    @include mix.clamped(padding-bottom, 86, 200);
    // @include mix.clamped(padding-left, 38, 264);


    &__heading{
      text-align: center;
      @include mix.clamped(margin-bottom, 43, 73);
      @include mix.font("Montserrat", 30, 40, 900);
    }

    &__main{
      flex-wrap: wrap;
      @include mix.flex(column-reverse);
      @include mix.clamped(gap, 29, 124);
      @include mix.for-size(710){
        flex-direction: initial;
      }

      & > *{
        flex: 1 1 32%;
      }
    }

    &__left{
      @include mix.clamped(gap, 21, 33);
      @include mix.flex(column, center, center);
      @include mix.for-size(710){
        align-items: flex-end;
      }
    }
    &__details{
      @include mix.clamped( width, 240, 310 );
    }
    &__hr{
      height: .2rem;
      border-radius: .1rem;
      background-color: var.$secondary;
      @include mix.clamped( width, 284, 330 );
    }
    &__socials{
      @include mix.clamped( width, 284, 330 );
      @include mix.flex($justify-content: center);
      @include mix.clamped( gap, 21, 27 );
    }
    &__social-icon{
      width: 4.8rem;
      height: 4.8rem;
      background-color: var.$grey;
      border-radius: 50%;
      @include mix.flex($justify-content: center, $align-items: center);

      svg{
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    &__right{
      @include mix.flex(column, center, center);
      @include mix.for-size(710){
        align-items: flex-start;

        & > :last-child{
          display: none;
        }
      }
    }
  }
}
