@use "../abstracts/var";
@use "../abstracts/mixins" as mix;

.blog-wrapper{
    @include mix.clamped(margin, 38, 122);
    @include mix.for-size(1648){
      margin: 12.2rem auto;
    }

  .blog{
    max-width: 71rem;
    margin: auto;
    text-align: center;
    color: var.$secondary;

    &__title{
      margin-bottom: 1.2rem;
      @include mix.font("Montserrat", 30, 48, 900);
    }
    &__meta-info{
      margin-bottom: 4.1rem;
    }
    &__date{
      @include mix.font("Open Sans", 10, 16, 400);

    }
    &__time-to-read{
      @include mix.font("Open Sans", 10, 16, 400);

    }
    &__feature-img{
      margin-bottom: 6.8rem;
    }
    &__content{
      text-align: left;
        @include mix.font("Open Sans", 14, 18, 400);

      p{
        @include mix.font("Open Sans", 14, 18, 400);
      }
    }
  }
}

.blog-wrapper{
  .blog-roll{
    color: var.$secondary;

    &__hr{
      border: .1rem solid var.$secondary; 
      border-radius: .1rem;
      @include mix.clamped(margin-top, 38, 122);
      @include mix.clamped(margin-bottom, 38, 122);
    }
    &__heading{
      margin-bottom: 3.2rem;
      @include mix.font("Montserrat", 36, 40, 900);
    }
    &__blog-cards{
      @include mix.flex(column);
      @include mix.clamped(gap, 18, 64);
    }
    &__blog-card{

    }
  }
}
